
@import './shared.scss';

section{
    height: 100%;
}
header{

}


.message-input{
    display: block;
    width: 100%;
    background: $test-color;
}
.chat-wrapper{
    height: 100%;
}
.chats{
    height: -webkit-calc(100% - 100px);
    height:    -moz-calc(100% - 100px);
    height:         calc(100% - 100px);
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: 10px;


}

.chat-sent,
.chat-received{
    width: 100%;
    h3{
        margin-left: 10px;
        margin-bottom: 0;
    }
    .message{
        padding: 10px 20px;
        max-width: 500px;
        border-radius: 20px;
    }
    .time{
        display: inline-block;
        padding: 10px;
    }
}
.chat-sent{
    float:right;
    text-align: right;

    .message{
        float: right;
        background-color: $sent-color;
    }
}
.chat-received{
    float:left;
    text-align: left;
    .message{
        float:left;
        background-color: $received-color;
    }
}